body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

/**
 * Site header
 */
.site-header {
	// border-top: 5px solid $grey-color-dark;
	border-bottom: 1px solid $grey-color-light;
	background: #6BB9F0;
	color: white !important;
	min-height: 56px;

	// Positioning context for the mobile navigation icon
	position: relative;
}

.site-title {
	font-size: 26px;
	line-height: 56px;
	letter-spacing: -1px;
	margin-bottom: 0;
	float: left;
	color: white !important;
}

.site-nav {
	float: right;
	line-height: 56px;

	.menu-icon {
		display: none;
	}

	.page-link {
		color: $text-color;
		line-height: $base-line-height;

		// Gaps between nav items, but not on the first one
		&:not(:first-child) {
			margin-left: 20px;
		}
	}

	@include media-query($on-palm) {
		position: absolute;
		top: 9px;
		right: 30px;
		background-color: $background-color;
		border: 1px solid $grey-color-light;
		border-radius: 5px;
		text-align: right;

		.menu-icon {
			display: block;
			float: right;
			width: 36px;
			height: 26px;
			line-height: 0;
			padding-top: 10px;
			text-align: center;

			> svg {
				width: 18px;
				height: 15px;

				path {
					fill: $grey-color-dark;
				}
			}
		}

		.trigger {
			clear: both;
			display: none;
		}

		&:hover .trigger {
			display: block;
			padding-bottom: 5px;
		}

		.page-link {
			display: block;
			padding: 5px 10px;
		}
	}
}

/**
 * Site footer
 */
.site-footer {
	opacity: 0.6;
	padding: $spacing-unit 0 10px;
	transition: 0.3s ease;
}

.site-footer:hover {
	opacity: 1;
}

.footer-heading {
	font-size: 18px;
	margin-bottom: $spacing-unit / 2;
}

.contact-list, .social-media-list {
	list-style: none;
	margin-left: 0;
}

.footer-col-wrapper {
	font-size: 15px;
	color: $grey-color;
	margin-left: -$spacing-unit / 2;
	@extend %clearfix;
}

.footer-col {
	float: left;
	margin-bottom: $spacing-unit / 2;
	padding-left: $spacing-unit / 2;
}

.footer-col-1 {
	width: -webkit-calc(35% - (#{$spacing-unit} / 2));
	width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
	width: -webkit-calc(20% - (#{$spacing-unit} / 2));
	width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
	width: -webkit-calc(45% - (#{$spacing-unit} / 2));
	width: calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
	.footer-col-1, .footer-col-2 {
		width: -webkit-calc(50% - (#{$spacing-unit} / 2));
		width: calc(50% - (#{$spacing-unit} / 2));
	}

	.footer-col-3 {
		width: -webkit-calc(100% - (#{$spacing-unit} / 2));
		width: calc(100% - (#{$spacing-unit} / 2));
	}
}

@include media-query($on-palm) {
	.footer-col {
		float: none;
		width: -webkit-calc(100% - (#{$spacing-unit} / 2));
		width: calc(100% - (#{$spacing-unit} / 2));
	}
}

/**
 * Page content
 */
.post-content--blog {
	-webkit-animation: content-anim 0.5s ease both 2s;
	animation: content-anim 0.5s ease both 2s;
}

.page-content {
	display: flex;
	align-items: center;
	flex: 1;
	padding: $spacing-unit 0;
	position: relative;
}

.page-heading {
	font-size: 20px;
}

.post-list {
	margin-left: 0;
	list-style: none;

	> li {
		margin-bottom: $spacing-unit;
	}
}

.post-meta {
	font-size: $small-font-size;
	opacity: 0.5;
}

.post-link {
	display: block;
	font-size: 24px;
}

/**
 * Posts
 */
.post-header {
	margin-bottom: $spacing-unit;
}

.post-title {
	font-size: 42px;
	letter-spacing: -1px;
	line-height: 1;

	@include media-query($on-laptop) {
		font-size: 36px;
	}
}

.text-big {
	font-size: 2.5em;
}

.post-content {
	margin-bottom: $spacing-unit;

	h2 {
		font-size: 32px;

		@include media-query($on-laptop) {
			font-size: 28px;
		}
	}

	h3 {
		font-size: 26px;

		@include media-query($on-laptop) {
			font-size: 22px;
		}
	}

	h4 {
		font-size: 20px;

		@include media-query($on-laptop) {
			font-size: 18px;
		}
	}
}

.post-content--blog {
	padding: 15px;
	border: 1px solid #ddd;
	border-radius: 15px;
	position: relative;
	background: white;

	&::before {
		content: '';
		position: absolute;
		width: 0;
		border-right: 25px solid transparent;
		border-left: 25px solid transparent;
		border-top: 50px solid #ddd;
		bottom: -50px;
		left: calc(50% - 25px);
	}

	&::after {
		content: '';
		position: absolute;
		width: 0;
		border-right: 23px solid transparent;
		border-left: 23px solid transparent;
		border-top: 49px solid white;
		bottom: -49px;
		left: calc(50% - 23px);
	}
}

.post-content__image {
	width: 200px;
	height: 261px;
	margin: 0 auto $spacing-unit;
	background: url('../images/shaktimaan.png') no-repeat center;
	background-size: cover;
	-webkit-animation: content-spin 2s linear;
	animation: content-spin 2s linear;
}

.nav-btns {
	text-align: center;
}

@include media-query(500px) {
	.nav-btns {
		position: static;
	}
}

@-webkit-keyframes content-spin {
	0% { opacity: 0; }
	10% { -webkit-transform: rotateY(2880deg); }
	30% { opacity: 1; -webkit-transform: rotateY(1440deg); }
	60% { -webkit-transform: rotateY(720deg); }
	100% { -webkit-transform: rotateY(360deg); }
}

@keyframes content-spin {
	0% { opacity: 0; }
	10% { transform: rotateY(2880deg); }
	30% { opacity: 1; transform: rotateY(1440deg); }
	60% { transform: rotateY(720deg); }
	100% { transform: rotateY(360deg); }
}

@-webkit-keyframes content-anim {
	from {
		opacity: 0;
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@keyframes content-anim {
	from {
		opacity: 0;
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}